<div class="auth-page">

    <span id = "login-text-1" class="game">SIGN</span>
    <span id = "login-text-2" class="gold-text">IN</span>
    
    <div class="form-container">
        <div class="login-div">
            <div class="login-content">
    
                <h2>SIGN IN</h2>
                <app-login></app-login>
    
            </div>
        </div>
        <div class="register-div">
            <div class="register-content">
    
                <h2>SIGN UP</h2>
                <app-registration></app-registration>
    
            </div>
            </div>
        <div class="move-me highlight-rest">
            <h2 id="text-to-change">Are you new here?</h2>
            <button class="move-button" (click)="moveDiv()">SIGN UP ►</button>
        </div>
    </div>
</div>
